[color]
    ui = auto
[user]
    name = Victor Hugo M. Pinto
    email = victor2142@gmail.com
    username = victor_hmp

[gpg]
    program = gpg2
[commit]
    gpgsign = false

[core]
    excludesfile = ~/.gitignore_global
